# Node modules #
/application/**/node_modules

# Vendor #
/application/**/vendor

# .js and .js.map #
/application/fe/app/**/*.js
/application/fe/app/**/*.js.map

# npm debug #
/application/**/npm-debug.log

# visual studio code #
/.vscode/**

# Tests #
/application/be/tests
/application/fe/e2e
/application/fe/karma.conf.js
/application/fe/karma-test-shim.js
/application/fe/protractor.config.js
/application/fe/tslint.json