# Node modules #
/application/**/node_modules

# Vendor #
/application/**/vendor

# .js and .js.map #
/application/fe/app/**/*.js
/application/fe/app/**/*.js.map

# npm debug #
/application/**/npm-debug.log

# visual studio code #
./.vscode
